<div class="container"><img width="100%"  src="img/concardis_WebBanner.jpg" ></div>

<div class="container" >
    <div class="row" padding-top="10px">
        <div  class="col-md-6" >
            <div class="panel panel-warning" >
                <div class="panel-body">
                    <h4 class="p-title" style="margin-top:5px; margin-bottom:5px; padding:5px;"><span>success transactions</span></h4>
                    <div class="container" >
                        <div class="col-md-6">
                            <a href="/selectPay/1">
                                <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed">
                                    <img src="img/items/tree.png" class="icon-large glyph-icon bg-white border-default btn-border wow bounceInDown" data-wow-delay="0.7s"></img>
                                    <h2 class="text-transform-upr icon-title wow fadeInUp" ><b>tree</b></h2>
                                    <p class="icon-content wow fadeInUp" > <b>20,00€ </b><br>Buy now</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/selectPay/2">
                                <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed">
                                    <img src="img/items/glass.png" class="icon-large glyph-icon bg-white border-default btn-border wow bounceInDown" data-wow-delay="0.7s"></img>
                                    <h2 class="text-transform-upr icon-title wow fadeInUp" ><b>1L Water</b></h2>
                                    <p class="icon-content wow fadeInUp" > <b>2,00€ </b><br>Buy now</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-warning" >
                <div class="panel-body">
                    <h4 class="p-title" style="margin-top:5px; margin-bottom:5px; padding:5px;"><span>failure transactions</span></h4>
                    <div class="container">
                        <div class="col-md-6">
                            <a href="/selectPay/3">
                                <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed">
                                    <img src="img/items/sausage.png" class="icon-large glyph-icon bg-white border-default btn-border wow bounceInDown" data-wow-delay="0.6s"></img>
                                    <h2 class="text-transform-upr icon-title wow fadeInUp" ><b>German Sausage</b></h2>
                                    <p class="icon-content wow fadeInUp" > <b>1,99€ </b><br>Buy now</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/selectPay/4">
                                <div class="icon-box icon-box-offset-large bg-default content-box icon-boxed">
                                    <img src="img/items/burger.jpg" class="icon-large glyph-icon bg-white border-default btn-border wow bounceInDown" data-wow-delay="0.7s"></img>
                                    <h2 class="text-transform-upr icon-title wow fadeInUp" ><b>Burger</b></h2>
                                    <p class="icon-content wow fadeInUp" > <b>5,99€ </b><br>Buy now</p>
                                </div>
                            </a>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>