<div class="container"><img width="100%" src="img/CC_PowerSmall.jpg" ></div>

<div class="container">
    <ul id="portfolio-grid" class="reset-ul">
      <li class="col-md-4 col-sm-6">
        <div class="thumbnail-box-wrapper">
          <div class="thumbnail-box" height="300px" style="border-radius: 5px 5px 0px 0px;">
              <img src="img/Widget.png" height="250px" alt="">
          </div>
          <div class="thumb-pane" style="height:130px;">
            <div class="text-center"><strong  style="color:#DA4405;">Widget</strong></div><br>
            <div class="row">
                <div class="col-md-6"><button type="button" class="btn btn-block btn-success">Example</button></div>
                <a href="/modalstepone"><div class="col-md-6"><button type="button" class="btn btn-block btn-info">How to implement?</button></div></a>
            </div>
          </div>
        </div>
      </li>
      <li class="col-md-4 col-sm-6" >
        <div class="thumbnail-box-wrapper">
          <div class="thumbnail-box thumbnail-box-inverse" height="300px" style="border-radius: 5px 5px 0px 0px;">
              <img src="img/WidgetInline.png" height="250px" alt="">
          </div>
          <div class="thumb-pane" style="height:130px;">
            <div class="text-center"><strong  style="color:#DA4405;">Inline Widget</strong></div><br>
            <div class="row">
                <div class="col-md-6"><button type="button" class="btn btn-block btn-success">Example</button></div>
                <div class="col-md-6"><button type="button" class="btn btn-block btn-info">How does it Work?</button></div>
            </div>
          </div>
        </div>
    </li>
    <li class="col-md-4 col-sm-6">
      <div class="thumbnail-box-wrapper">
        <div class="thumbnail-box thumbnail-box-inverse" style="border-radius: 5px 5px 0px 0px;">
            <img src="img/WidgetBridge.png" height="250px" alt="">
        </div>
        <div class="thumb-pane" style="height:130px;">
          <div class="text-center"><strong  style="color:#DA4405;">Widget as a Bridge</strong></div><br>
          <div class="row">
                <div class="col-md-6"><button type="button" class="btn btn-block btn-success">Example</button></div>
                <div class="col-md-6"><button type="button" class="btn btn-block btn-info">How does it Work?</button></div>
            </div>
        </div>
      </div>
    </li>
     <!--<li class="col-md-4 col-sm-6">
      <div class="thumbnail-box-wrapper">
        <div class="thumbnail-box thumbnail-box-inverse" style="border-radius: 5px 5px 0px 0px;">
            <img src="img/Plugins.jpg" height="250px" alt="">
        </div>
        <div class="thumb-pane" style="height:130px;">
          <div class="text-center"><strong  style="color:#DA4405;">Plugins</strong></div><br>
          <div class="row">
                <div class="col-md-6"><button type="button" class="btn btn-block btn-success">Examples</button></div>
                <div class="col-md-6"><button type="button" class="btn btn-block btn-info" disabled>How does it Work?</button></div>
            </div>
        </div>
      </div>
    </li>
    <li class="col-md-4 col-sm-6">
      <div class="thumbnail-box-wrapper">
        <div class="thumbnail-box thumbnail-box-inverse" style="border-radius: 5px 5px 0px 0px;">
            <img src="img/Paylink.jpg" height="250px" alt="">
        </div>
        <div class="thumb-pane" style="height:130px;">
          <div class="text-center"><strong  style="color:#DA4405;">Paylink</strong></div><br>
          <div class="row">
                <a href="https://skineco.pay-link.eu/"><div class="col-md-6"><button type="button" class="btn btn-block btn-success">Example</button></div></a>
                <div class="col-md-6"><button type="button" class="btn btn-block btn-info" disabled>How does it Work?</button></div>
            </div>
        </div>
      </div>
    </li>-->

  </ul>
</div>